<msin>

<h1>出退勤</h1>
<p>出勤</p>
<%= link_to "出勤", start_workers_attendances_path, method: :post %>
<p>退勤</p>
<%= link_to "退勤", finish_workers_attendances_path, method: :post %>

<%= link_to ">>その他事由記入", workers_attendance_path(@worker.id) %>


<p>お知らせ</p>
<p>・6/1(〇)の出退勤情報に誤りがあります。</p>

従業員<br>
      <%= link_to "トップページ", workers_homes_top_path %>
      <%= link_to "在席一覧", workers_attendances_path %>
      <%= link_to "タイムカード", workers_attendance_path(@worker.id) %>

</msin>