      <p><%= link_to "トップページ", admins_homes_top_path %></p>
      <p><%= link_to "在席一覧", admins_homes_top_path %></p>
      <p><%= link_to "従業員一覧", admins_workers_path %></p>
      データ登録
      <p><%= link_to "従業員登録", new_admins_worker_path %></p>
      <p><%= link_to "所属登録", admins_departments_path %></p>
      <p><%= link_to "役職登録", admins_directors_path %></p>
      <p><%= link_to "勤務地登録", admins_locations_path %></p>
      <p><%= link_to "勤務区分登録", admins_working_hours_path %></p>
      データ出力
      <p><%= link_to "Excel出力", admins_excels_path %></p>
      <p><%= link_to "PDF出力", admins_pdfs_path %></p>