<main>
  <div class="container">
    <div class="row">

    <div class="col-lg-2">
    <%= render 'admins/adminside', admin: @admin %>
    </div>

    <div class="col-lg-10">
      <h2>勤務区分編集</h2>

      <div class="element_edit_field">
        <%= form_with model: @working_hour, url: admins_working_hour_path(@working_hour), method: :patch do |f| %>
          <table>
            <tr>
              <th width="15%"><strong>勤務区分コード</strong></th>
              <td width="30%"><%= f.text_field :working_hour_code, :size=>"30" %></td>
              <td width="40%"></td>
            </tr>
            <tr>
              <th><strong>勤務開始時間</strong></th>
              <td><%= f.time_field :start_working_hour, :size=>"30" %></td>
              <td></td>
            </tr>
            <tr>
              <th><strong>勤務終了時間</strong></th>
              <td><%= f.time_field :finish_working_hour, :size=>"30" %></td>
              <td><input type="submit" name="commit" value="変更を保存" class="btn btn-success" data-disable-with="Update Genre"></td>
            </tr>
          </table>
  　     <% end %>
      </div>
    </div>

    </div>
  </div>
</main>