<main>
<div class="container">

  <h1>勤務区分一覧・追加</h1>

    <div class="working_hour_new_field">
      <%= form_with model: @working_hour, url: admins_working_hours_path do |f| %>
        <strong>勤務区分コード</strong>
        <%= f.text_field :working_hour_code, :size=>"30" %><br>

        <strong>勤務開始時間</strong>
        <%= f.text_field :start_working_hour, :size=>"30" %><br>

        <strong>勤務終了時間</strong>
        <%= f.text_field :finish_working_hour, :size=>"30" %>

      <u class="new_botton ml-5">
        <%= f.submit '追加', class:"btn btn-sm btn-success" %>
      </u>
       <% end %>
    </div>

    <div class="director_list">
      <table class="table mt-5">
          <thead>
            <tr>
              <th>勤務区分コード</th>
              <th>勤務開始時間</th>
              <th>勤務終了時間</th>
              <th></th>
            </tr>
          </thead>

         <% @working_hours.each do |working_hour| %>
          <tboby>
            <tr>
             <td><%= working_hour.working_hour_code %></td>
             <td><%= working_hour.start_working_hour.strftime("%H:%M") %></td>
             <td><%= working_hour.finish_working_hour.strftime("%H:%M") %></td>
             <td><%= link_to "編集する", edit_admins_working_hour_path(working_hour.id), class:"btn btn-sm btn-success" %></td>
            </tr>
          </tbody>
         <% end %>
      </table>
    </div>

</div>
</main>