<main>
  <div class="container">
    <div class="row">

    <div class="col-lg-2">
      <%= render 'admins/adminside', admin: @admin %>
    </div>

    <div class="col-lg-10">
      <h2>勤務区分一覧・追加</h2>

      <div class="element_new_field">
        <%= form_with model: @working_hour, url: admins_working_hours_path do |f| %>
          <table>
            <tr>
              <th width="30%"><strong>勤務区分コード</strong></th>
              <td width="60%"><%= f.text_field :working_hour_code, :size=>"30" %></td>
              <td width="10%"></td>
            </tr>
            <tr>
              <th><strong>勤務開始時間</strong></th>
              <td><%= f.time_field :start_working_hour, :size=>"30" %></td>
              <td></td>
            </tr>
            <tr>
              <th><strong>勤務終了時間　</strong></th>
              <td><%= f.time_field :finish_working_hour, :size=>"30" %></td>
              <td><%= f.submit '追加', class:"btn btn-sm btn-success" %></td>
            </tr>
          </table>
        <% end %>
      </div>

      <div class="director_list">
        <table class="table mt-5">
            <thead>
              <tr>
                <th width="15%">勤務区分コード</th>
                <th width="20%">勤務開始時間</th>
                <th width="20%">勤務終了時間</th>
                <th width="30%"></th>
              </tr>
            </thead>

           <% @working_hours.each do |working_hour| %>
            <tboby>
              <tr>
               <td><%= working_hour.working_hour_code %></td>
               <td><%= working_hour.start_working_hour.strftime("%H:%M") %></td>
               <td><%= working_hour.finish_working_hour.strftime("%H:%M") %></td>
               <td><%= link_to "編集する", edit_admins_working_hour_path(working_hour.id), class:"btn btn-sm btn-success" %></td>
              </tr>
            </tbody>
           <% end %>
        </table>
        </div>
      </div>

    </div>
  </div>
</main>