<main>
  <div class="container">
    <div class="row">

    <div class="col-lg-2">
      <%= render 'admins/adminside', admin: @admin %>
    </div>

    <div class="col-lg-10">
      <h2>役職一覧・追加</h2>

      <div class="element_new_field">
        <%= form_with model: @director, url: admins_directors_path do |f| %>
          <table>
            <tr>
              <th width="30%"><strong>役職コード</strong></th>
              <td width="60%"><%= f.text_field :director_code, :size=>"30" %></td>
              <td width="10%"></td>
            </tr>
            <tr>
              <th><strong>役職名</strong></th>
              <td><%= f.text_field :director_name, :size=>"30" %></td>
              <td><%= f.submit '追加', class:"btn btn-sm btn-success" %></td>
            </tr>
         <% end %>
      </div>

      <div class="director_list">
        <table class="table mt-5">
          <thead>
            <tr>
              <th width="20%">役職コード</th>
              <th width="40%">役職名</th>
              <th width="40%"></th>
            </tr>
          </thead>

          <% @directors.each do |director| %>
          <tboby>
            <tr>
             <td><%= director.director_code %></td>
             <td><%= director.director_name %></td>
             <td><%= link_to "編集する", edit_admins_director_path(director.id), class:"btn btn-sm btn-success" %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>

    </div>
  </div>
</main>