<main>
  <div class="container">
    <div class="row">

    <div class="col-lg-2">
    <%= render 'admins/adminside', admin: @admin %>
    </div>

    <div class="col-lg-10">
      <h2>所属一覧・追加</h2>

      <div class="error_message">
        <%= flash[:notice] %>
      </div>

      <div class="element_new_field">
        <%= form_with model: @department, url: admins_departments_path do |f| %>
          <table>
            <tr>
              <th width="30%"><strong>所属コード</strong></th>
              <td width="60%"><%= f.text_field :department_code, :size=>"30" %></td>
              <td width="10%"></td>
            </tr>
            <tr>
              <th><strong>所属名</strong></th>
              <td><%= f.text_field :department_name, :size=>"30" %></td>
              <td><%= f.submit '追加', class:"btn btn-sm btn-success" %></td>
            </tr>
          </table>
        <% end %>
      </div>

      <div class="department_list">
        <table class="table mt-5">
            <thead>
              <tr>
                <th width="20%">所属コード</th>
                <th width="40%">所属名</th>
                <th width="40%"></th>
              </tr>
            </thead>

           <% @departments.each do |department| %>
            <tboby>
              <tr>
               <td><%= department.department_code %></td>
               <td><%= department.department_name %></td>
               <td><%= link_to "編集する", edit_admins_department_path(department.id), class:"btn btn-sm btn-success" %></td>
              </tr>
            </tbody>
           <% end %>
        </table>
      </div>
    </div>

    </div>
  </div>
</main>