<h1>Hora</h1>
<p>従業員は<%= link_to "こちら", new_worker_session_path %>からログイン</p>

<p>管理者は<%= link_to "こちら", new_admin_session_path %>からログイン</p>

<%= link_to "トップページ", admins_homes_top_path %>
      <%= link_to "在席一覧", admins_homes_top_path %>
      <%= link_to "従業員一覧", admins_workers_path %><br>
      データ登録
      <%= link_to "従業員登録", new_admins_worker_path %>
      <%= link_to "所属登録", admins_departments_path %>
      <%= link_to "役職登録", admins_directors_path %>
      <%= link_to "勤務地登録", admins_locations_path %>
      <%= link_to "勤務区分登録", admins_working_hours_path %><br>
      データ出力
      <%= link_to "Excel出力", admins_excels_path %>
      <%= link_to "PDF出力", admins_pdfs_path %>