<main>
  <div class="container">
    <div class="row">

      <div class="col-lg-2">
        <%= render 'workers/workerside', worker: @worker %>
      </div>

      <div class="col-lg-10">
        <h2>タイムカード編集中</h2>

      <div class="month_select_box">
        <div class="month_select">
          <%= form_with(url: timecard_edit_workers_attendances_path(@worker), method: :post) do |f| %>
          <div class="action">
            <%= f.select :year, @years, {include_blank: true}, class: 'form-control' %>年
            <%= f.select :month, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'], {include_blank: true}, class: 'form-control' %>月
            <%= f.submit '選択', class: "btn btn-sm btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>

      <%= form_with model: @worker, url: workers_attendance_path(@worker), method: :patch, id: "attendances" do |f| %>

      <div class="year_show">
      <%= @today.year %>年<%= @today.mon %>月


        <%= f.submit "変更を保存", class: "btn btn-sm btn-success" %>
      </div>

      <%= f.hidden_field :year,value: @today.year %>
      <%= f.hidden_field :month,value: @today.mon %>

      <div class="department_list">
        <table class="table mt-3">
            <thead>
              <tr>
                <th width="10%">日付</th>
                <th width="8%">曜日</th>
                <th width="8%">勤務区分</th>
                <th width="24%">事由</th>
                <th width="8%">出勤</th>
                <th width="8%">退勤</th>
                <th width="8%">休憩開始</th>
                <th width="8%">休憩終了</th>
                <th width="18%">コメント</th>
              </tr>
            </thead>

            <tboby>
              <% @current_month.count.times do |i| %>
                  <% i += 1 %>
                  <% time_record = @attendances.where(stamp_date: Time.new(@today.year, @today.mon, i).beginning_of_day..Time.new(@today.year, @today.mon, i).end_of_day).last %>

              <% if @current_month[i-1][:weekday_jp] == "(土)"%>
                <tr class = "sat">
              <% elsif @current_month[i-1][:weekday_jp] == "(日)" %>
                <tr class = "sun">
              <%else%>
                <tr>
              <%end%>
                <!--日付-->
                  <td><%= i %>日<%= f.hidden_field "id[#{i}]", value: time_record&.id %><%= f.hidden_field "updated[#{i}]", value: 0, class: "updated-flag" %></td>

                <!--曜日-->
                  <td><%= @current_month[i-1][:weekday_jp] %></td>

                <!--勤務区分-->
                <% if @current_month[i-1][:weekday_jp] == "(土)"%>
                  <td>公休</td>
                <% elsif @current_month[i-1][:weekday_jp] == "(日)" %>
                  <td>日曜</td>
                <%else%>
                  <td>
                    <%= @start_working_hour.change(month: @today.mon, day: i).strftime('%H:%M') %>-<%= @finish_working_hour.change(month: @today.mon, day: i).strftime('%H:%M') %>
                  </td>
                <%end%>

                <!--事由-->
                  <td>
                      <%= f.select "reason_status[#{i}]", Attendance.reason_statuses.map { |k, v| [I18n.t("enums.attendance.reason_status.#{k}"), v] }, {prompt: false, selected: (Attendance.reason_statuses[time_record&.reason_status] if time_record&.reason_status) }, class:"form-control form-control-sm col-6"  %>
                  </td>

                <!--出勤-->
                  <td><%= f.time_field "start_worktime[#{i}]", value: time_record&.start_worktime&.strftime('%R') %></td>

                <!--退勤-->
                  <td><%= f.time_field "finish_worktime[#{i}]", value: time_record&.finish_worktime&.strftime('%R') %></td>

                <!--休憩開始-->
                  <td><%= f.time_field "start_breaktime[#{i}]", value: time_record&.start_breaktime&.strftime('%R') %></td>

                <!--休憩終了-->
                  <td><%= f.time_field "finish_breaktime[#{i}]", value: time_record&.finish_breaktime&.strftime('%R') %></td>

                <!--コメント-->
                  <td><%= f.text_field "comment[#{i}]", value: time_record&.comment %></td>
                </tr>

              <% end %>
            </tbody>
        </table>
      </div>
      <% end %>
      </div>

    </div>
  </div>
</main>

<script type="text/javascript">
  // ブラウザの読み込み完成が終わったら
  $(document).ready(function() {
  // インプット・セレクトの値が変わったことを検知する
    $('.department_list input, .department_list select').change(function(e) {
  //変わった値の親要素(tr)の子供hidden(.updated-flag)の値を0→1に更新する
      $(e.target).closest('tr').find('.updated-flag').val(1);

    });
  });
</script>