<main>
  <div class="container">
    <div class="row">

    <div class="col-lg-2">
      <%= render 'workers/workerside', worker: @worker %>
    </div>

    <div class="col-lg-10">
      <h2>在席一覧</h2>

        <div class="search-box">
          <div class="search">
          <strong>名前で検索　</strong>
            <%= form_with url: workers_attendances_path, method: :get do |f| %>
              <%= text_field_tag :name %>
              <%= f.submit '検索', class:"btn btn-sm btn-success" %>
            <% end %>
          </div>

          <div class="search">
          <strong>所属で検索　</strong>
            <%= form_with url: workers_attendances_path, method: :get do |f|  %>
              <%= f.collection_select :department_id, @departments, :id, :department_name, include_blank: "全部署" %>
              <%= f.submit '検索', class:"btn btn-sm btn-success" %>
            <% end %>
          </div>
        </div>

      <div class="worker_field">
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>所属</th>
              <th>氏名</th>
              <th>出退勤</th>
              <th>事由</th>
            </tr>
          </thead>

        <% @workers.each do |worker| %>
          <% if worker.employment_status == "tenure" %>
          <tboby>
            <tr>
              <td>
                <%= worker.department.department_name %>
              </td>
              <td>
                <%= worker.last_name %><%= worker.first_name %>
              </td>
              <td>
                <!--TODO: N+1問題が発生している-->
                <%= worker.current_attendance&.status %>
              </td>
              <td>
                <%= worker.current_attendance&.reason_status_i18n %>
              </td>
            </tr>
          </tbody>
          <% end %>
        <% end %>
        </table>
      </div>
    </div>

    </div>
  </div>
</main>