<main>
  <div class="container">
    <div class="row">

      <div class="col-lg-2">
        <%= render 'workers/workerside', worker: @worker %>
      </div>

        <div class="col-lg-10">
          <h2>タイムカード</h2>

          <%= flash[:notice] %>

      <div class="month_select_box">
        <div class="month_select">
          <%= form_with(url: timecard_workers_attendances_path(@worker), method: :post) do |f| %>
          <div class="action">
            <%= f.select :year, @years, {include_blank: true}, class: 'form-control' %>年
            <%= f.select :month, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'], {include_blank: true}, class: 'form-control' %>月
            <%= f.submit '選択', class: "btn btn-sm btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>

      <div class="year_show">
        <%= @today.year %>年<%= @today.mon %>月

        <%= link_to "編集する", edit_workers_attendance_path(@worker.id), class:"btn btn-sm btn-success" %>
      </div>

      <div class="department_list">
        <table class="table mt-3">
            <thead>
              <tr>
                <th width="7%">日付</th>
                <th width="7%">曜日</th>
                <th width="10%">事由</th>
                <th width="8%">出勤</th>
                <th width="8%">退勤</th>
                <th width="10%">休憩開始</th>
                <th width="10%">休憩終了</th>
                <th>遅刻</th>
                <th width="20%">コメント</th>
                <th width="10%"></th>
                <th width="10%"></th>
              </tr>
            </thead>

            <tboby>
              <% i = 1 %>
              <% calendar_dates = Array.new(31) %>
              <% @attendances.to_a.each do |data|%>
                <% calendar_dates[(data.stamp_date.day).to_i-1] = data %>
              <% end %>
              <% @current_month.count.times do %>
                <% calendar_date = calendar_dates[i-1] %>

                <%# byebug %>
              <% if @current_month[i-1][:weekday_jp] == "(土)"%>
                <tr class = "sat">
              <% elsif @current_month[i-1][:weekday_jp] == "(日)" %>
                <tr class = "sun">
              <%else%>
                <tr>
              <%end%>
                  <td><%= i %>日</td>
                  <td><%= @current_month[i-1][:weekday_jp] %></td>
                  <!--事由-->
                  <td>
                      <% if calendar_date.present? %>
                        <%= I18n.t("enums.attendance.reason_status.#{calendar_date&.reason_status}") %>
                      <% end %>
                  </td>
                  <!--出勤-->
                  <td><%= calendar_date&.start_worktime&.strftime('%H:%M') %></td>

                  <!--退勤-->
                  <td><%= calendar_date&.finish_worktime&.strftime('%H:%M') %></td>

                  <!--休憩開始-->
                  <td><%= calendar_date&.start_breaktime&.strftime('%H:%M') %></td>

                  <!--休憩終了-->
                  <td><%= calendar_date&.finish_breaktime&.strftime('%H:%M') %></td>

                  <!--遅刻-->
                  <td><%= behind_time(@start_working_hour, calendar_date&.start_worktime) %></td>

                  <!--コメント-->
                  <td><%= calendar_date&.comment %></td>

                  <!--編集ステータス-->
                  <td style="font-size:10px">
                    <% if calendar_date.present? %>
                      <%= I18n.t("enums.attendance.edit_status.#{calendar_date&.edit_status}") %>
                    <% end %>
                  </td>

                  <!--削除ボタン-->
                  <td style="font-size:10px"><%= link_to '削除', workers_attendance_destroy_path(date: @today.beginning_of_month-1+i), method: :delete, data: { confirm: '打刻をリセットしますか?' }, class:"btn btn-sm btn btn-outline-danger" %></td>
                </tr>
                <% i += 1 %>
              <% end %>
            </tbody>
        </table>
      </div>

      </div>
    </div>
  </div>
</main>

