<main>
  <div class="container">
    <div class="row">

      <div class="col-lg-2">
        <%= render 'workers/workerside', worker: @worker %>
      </div>

        <div class="col-lg-10">
          <h2>タイムカード</h2>

          <%= flash[:notice] %>

      <div class="month_select_box">
        <div class="month_select">
          <%= form_with(url: timecard_workers_attendances_path(@worker), method: :post) do |f| %>
          <div class="action">
            <%= f.select :month, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'], {include_blank: true}, class: 'form-control' %>月
            <%= f.submit '選択', class: "btn btn-sm btn-primary" %>
          </div>
          <% end %>
        </div>

        <div>
          <%= link_to "編集する", edit_workers_attendance_path(@worker.id), class:"btn btn-sm btn-success" %>
        </div>
      </div>

      <div class="department_list">
        <table class="table mt-3">
            <thead>
              <tr>
                <th width="10%">日付</th>
                <th width="15%">勤務区分</th>
                <th width="20%">事由</th>
                <th width="8%">出勤</th>
                <th width="8%">退勤</th>
                <th width="10%">休憩開始</th>
                <th width="10%">休憩終了</th>
                <th width="19%">コメント</th>
              </tr>
            </thead>

            <tboby>
              <% i = 1 %>
              <% @current_month.count.times do %>
                  <% calendar_date = @attendances.where(stamp_date: Date.new(@today.year, @today.mon, i)).last %>
                  <% start_at = calendar_date %>
                  <% end_at = calendar_date %>
                  <% start_breaktime_at = calendar_date %>
                  <% end_breaktime_at = calendar_date %>
                  <% p calendar_date%>

                  <% #end_at = @attendances.find_by(finish_worktime: Time.new(@today.year, @today.mon, i).beginning_of_day..Time.new(@today.year, @today.mon, i).end_of_day) %>
                  <% #start_breaktime_at = @attendances.find_by(start_breaktime: Time.new(@today.year, @today.mon, i).beginning_of_day..Time.new(@today.year, @today.mon, i).end_of_day) %>

                  <% #end_breaktime_at = @attendances.find_by(finish_breaktime: Time.new(@today.year, @today.mon, i).beginning_of_day..Time.new(@today.year, @today.mon, i).end_of_day) %>

                <tr>
                  <td><%= @today.mon %>月<%= i %>日</td>
                  <td><%= @start_working_hour&.strftime('%H:%M') %>～<%= @finish_working_hour&.strftime('%H:%M') %></td>
                  <td>
                      <%#= %>
                  </td>
                  <!--出勤-->
                  <% if start_at&.start_worktime&.strftime('%H:%M') != "00:00" %>
                    <td><%= start_at&.start_worktime&.strftime('%H:%M') %></td>
                  <% else %>
                    <td></td>
                  <% end %>

                  <!--退勤-->
                  <% if end_at&.finish_worktime&.strftime('%H:%M') != "00:00" %>
                    <td><%= end_at&.finish_worktime&.strftime('%H:%M') %></td>
                  <% else %>
                    <td></td>
                  <% end %>

                  <!--休憩開始-->
                  <% if start_breaktime_at&.start_breaktime&.strftime('%H:%M') != "00:00" %>
                    <td><%= start_breaktime_at&.start_breaktime&.strftime('%H:%M') %></td>
                  <% else %>
                    <td></td>
                  <% end %>

                  <!--休憩終了-->
                  <% if end_breaktime_at&.finish_breaktime&.strftime('%H:%M') != "00:00" %>
                    <td><%= end_breaktime_at&.finish_breaktime&.strftime('%H:%M') %></td>
                  <% else %>
                    <td></td>
                  <% end %>

                    <td><%# comment %></td>

                </tr>
                <% i += 1 %>
              <% end %>
            </tbody>
        </table>
      </div>

      </div>
    </div>
  </div>
</main>

