<main>

  <%= render 'workers/workerside', worker: @worker %>

<h1>タイムカード</h1>

<%= link_to "編集する", edit_workers_attendance_path(@worker.id), class:"btn btn-sm btn-success" %>

<p>月選択</p>

    <div class="department_list">
      <table class="table mt-5">
          <thead>
            <tr>
              <th>日付</th>
              <th>勤務区分</th>
              <th>事由</th>
              <th>出勤</th>
              <th>退勤</th>
              <th>コメント</th>
            </tr>
          </thead>

         <% @attendances.each do |attendance| %>
          <tboby>
            <tr>
             <td><%= attendance.start_worktime&.strftime('%m/%d') %></td>
             <td><%= @start_working_hour&.strftime('%H:%M') %>～<%= @finish_working_hour&.strftime('%H:%M') %></td>
             <td></td>
             <td><%= attendance.start_worktime&.strftime('%H:%M') %></td>
             <td><%= attendance.finish_worktime&.strftime('%H:%M') %></td>
             <td></td>
            </tr>
          </tbody>

          <tboby>
            <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
</main>