<main>
  <div class="container">
    <div class="row">

    <div class="col-lg-2">
    <%= render 'admins/adminside', admin: @admin %>
    </div>

    <div class="col-lg-10">
      <h2>従業員一覧</h2>

      <div>
      <p>名前で検索</p>
        <%= form_with url: admins_workers_path, method: :get do |f| %>
          <%= text_field_tag :name %>
          <%= f.submit '検索', class:"btn btn-sm btn-success" %>
        <% end %>
      </div>

      <div>
      <p>所属で検索</p>
        <%= form_with url: admins_workers_path, method: :get do |f|  %>
          <%= f.collection_select :department_id, @departments, :id, :department_name, include_blank: "全部署" %>
          <%= f.submit '検索', class:"btn btn-sm btn-success" %>
        <% end %>
      </div>

      <div class="worker_field">
        <table class="table table-inverse">
          <thead>
            <tr>
             <th width="15%">所属</th>
             <th width="30%">氏名</th>
             <th width="20%"></th>
             <th width="20%"></th>
            </tr>
          </thead>

          <% @workers.each do |worker| %>
          <tboby>
            <tr>
              <td>
                <%= worker.department.department_name %>
              </td>
              <td>
                <%= worker.last_name %> <%= worker.first_name %>
              </td>
              <td>
                <%= link_to 'タイムカード', admins_attendance_path(worker.id) %>
              </td>
              <td>
                <%= link_to 'プロフィール', admins_worker_path(worker.id) %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>

    </div>
  </div>
</main>