<main>
  <div class="container">
    <div class="row">

    <div class="col-lg-2">
      <%= render 'admins/adminside', admin: @admin %>
    </div>

    <div class="col-lg-10">
      <h2><%= @worker.last_name %> <%= @worker.first_name %>　従業員情報詳細</h2>

      <div class="worker_show_field">
        <div class="worker_edit_link">
          <%= link_to "編集する", edit_admins_worker_path(@worker.id), class:"btn btn-sm btn-success" %>
          <%= link_to "パスワード初期化", password_admins_worker_path(@worker.id), class:"btn btn-sm btn-success" %>
        </div>

        <table class="order-table table mb-5">
          <tbody>
            <tr>
              <th>氏名</th>
              <td><%= @worker.last_name %>　<%= @worker.first_name %></td>
            </tr>
            <tr>
              <th>カナ</th>
              <td><%= @worker.last_name_kana %>　<%= @worker.first_name_kana %></td>
            </tr>
            <tr>
              <th>社員番号</th>
              <td><%= @worker.employee_number %></td>
            </tr>
            <tr>
              <th>所属</th>
              <td><%= @worker.department.department_name %></td>
            </tr>
            <tr>
              <th>役職</th>
              <td><%= @worker.director.director_name %></td>
            </tr>
            <tr>
              <th>勤務地</th>
              <td><%= @worker.location.location_name %></td>
            </tr>
            <tr>
              <th>勤務区分</th>
              <td><%= @worker.working_hour.working_hour_code %> <%= @worker.working_hour.start_working_hour&.strftime("%H:%M") %>～<%= @worker.working_hour.finish_working_hour&.strftime("%H:%M") %></td>
            </tr>
            <tr>
              <th>性別</th>
              <td>
                <%= @worker.sex %>
              </td>
            </tr>
            <tr>
              <th>生年月日</th>
              <td>
                <%= @worker.birthday&.strftime("%Y/%m/%d") %>
              </td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= @worker.email %></td>
            </tr>
            <tr>
              <th>勤務状況</th>
              <td>
                <%= @worker.employment_status %>
              </td>
            </tr>
            <tr>
              <th>入社日</th>
              <td>
                <%= @worker.hire_date&.strftime("%Y/%m/%d") %>
              </td>
            </tr>
            <tr>
              <th>退社日</th>
              <td>
                <%= @worker.retirement_date&.strftime("%Y/%m/%d") %>
              </td>
            </tr>
            <tr>
              <th>休職期間</th>
              <td>
                <%= @worker.start_career_break&.strftime("%Y/%m/%d") %>～<%= @worker.finish_career_break&.strftime("%Y/%m/%d") %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    </div>
  </div>
</main>