<main>
  <div class="container">
    <div class="row">

    <div class="col-lg-2">
      <%= render 'admins/adminside', admin: @admin %>
    </div>

    <div class="col-lg-10">

      <h2>PDF出力</h2>

      <div class="month_select">
        <%= form_with(url: timecard_index_admins_pdfs_path, method: :post) do |f| %>
        <div class="action">
          <%= f.select :year, @years, {include_blank: true}, class: 'form-control' %>年
          <%= f.select :month, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'], {include_blank: true}, class: 'form-control' %>月
          <%= f.submit '選択', class: "btn btn-sm btn-primary" %>
        </div>
        <% end %>
      </div>

      <div class="data_output_box">
        <h5><出力対象月></h5>

          <div class="data_output">
            <div class="output_month">
              <%= @today.year %>年<%= @today.mon %>月
            </div>
            <div class="output">
              <%= link_to "PDF出力", pdf_show_admins_pdfs_path(format: "pdf") %>
           </div>
          </div>
      </div>

      <table class="worker_output">
        <thead>
          <tr>
            <th width="20%">従業員</th>
            <th width="20%"></th>
          </tr>
        </thead>

        <% @workers.each do |worker| %>
        <tbody>
          <tr>
            <td><%= worker.full_name %></td>
            <td><%= "PDF出力" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>

    </div>

    </div>
  </div>
</main>