<main>
  <div class="container">
    <div class="row">

    <div class="col-lg-2">
      <%= render 'admins/adminside', admin: @admin %>
    </div>

    <div class="col-lg-10">
      <h2><%= @worker.last_name %><%= @worker.first_name %>　タイムカード編集中</h2>

      <div class="month_select">
        <%= form_with(model: @attendance, url: timecard_edit_admins_attendances_path(@worker), method: :post) do |f| %>
        <div class="action">
          <%= f.select :month, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'], {include_blank: true}, class: 'form-control' %>
          <%= f.submit '選択', class: "btn btn-sm btn-primary" %>
        </div>
        <% end %>

      <%= form_with model: @worker, url: admins_attendance_path(@worker), method: :patch, id: "attendances" do |f| %>
        <u class="new_botton ml-5">
          <input type="submit" name="commit" value="変更を保存" class="btn btn-success" data-disable-with="Update Genre">
        </u>
      </div>

      <div class="department_list">
        <table class="table mt-3">
          <thead>
            <tr>
              <th width="10%">日付</th>
              <th width="15%">勤務区分</th>
              <th width="20%">事由</th>
              <th width="8%">出勤</th>
              <th width="8%">退勤</th>
              <th width="10%">休憩開始</th>
              <th width="10%">休憩終了</th>
              <th width="19%">コメント</th>
            </tr>
          </thead>

          <tboby>
            <% @current_month.count.times do |i| %>
                <% i += 1 %>
                <% time_record = @attendances.find_by(stamp_date: Time.new(@today.year, @today.mon, i).beginning_of_day..Time.new(@today.year, @today.mon, i).end_of_day) %>

              <tr>
                <td><%= @today.mon %>月<%= i %>日<%= f.hidden_field "id[#{i}]", value: time_record&.id %></td>
                <td><%= @start_working_hour&.strftime('%H:%M') %>～<%= @finish_working_hour&.strftime('%H:%M') %></td>
                <td>
                    <%= f.select "reason_status[#{i}]", Attendance.reason_statuses.map { |k, v| [I18n.t("enums.attendance.reason_status.#{k}"), v] }, {prompt: false, selected: (Attendance.reason_statuses[time_record&.reason_status] if time_record&.reason_status) }, class:"form-control form-control-sm col-6"  %>
                </td>
                <td><%= f.time_field "start_worktime[#{i}]", value: time_record&.start_worktime&.strftime('%R') %></td>
                <td><%= f.time_field "finish_worktime[#{i}]", value: time_record&.finish_worktime&.strftime('%R') %></td>
                <td><%= f.time_field "start_breaktime[#{i}]", value: time_record&.start_breaktime&.strftime('%R') %></td>
                <td><%= f.time_field "finish_breaktime[#{i}]", value: time_record&.finish_breaktime&.strftime('%R') %></td>
                <td><%= f.text_field "comment[#{i}]", value: time_record&.comment %></td>
              </tr>

            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>

    </div>
  </div>
</main>