<main>
  <div class="container">
    <div class="row">

    <div class="col-lg-2">
      <%= render 'admins/adminside', admin: @admin %>
    </div>

    <div class="col-lg-10">
      <h2><%= @worker.last_name %><%= @worker.first_name %>　タイムカード編集中</h2>

      <%= form_with model: @worker, url: admins_department_path(@worker), method: :patch do |f| %>

      <div class="month_select">
        <%= form_with(url: timecard_workers_attendances_path(@worker), method: :post) do |f| %>
        <div class="action">
          <%= f.select :month, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'], {include_blank: true}, class: 'form-control' %>
          <%= f.submit '選択', class: "btn btn-sm btn-primary" %>
        </div>
        <% end %>

        <u class="new_botton ml-5">
          <input type="submit" name="commit" value="変更を保存" class="btn btn-success" data-disable-with="Update Genre">
        </u>
      </div>

      <div class="department_list">
        <table class="table mt-3">
          <thead>
            <tr>
              <th width="10%">日付</th>
              <th width="15%">勤務区分</th>
              <th width="20%">事由</th>
              <th width="8%">出勤</th>
              <th width="8%">退勤</th>
              <th width="10%">休憩開始</th>
              <th width="10%">休憩終了</th>
              <th width="19%">コメント</th>
            </tr>
          </thead>

          <tboby>
            <% i = 1 %>
            <% 31.times do %>
                <% start_at = @attendances.find_by(start_worktime: Time.new(2023, 5, i).beginning_of_day..Time.new(2023, 5, i).end_of_day) %>
                <% end_at = @attendances.find_by(finish_worktime: Time.new(2023, 5, i).beginning_of_day..Time.new(2023, 5, i).end_of_day) %>
                <% start_breaktime_at = @attendances.find_by(start_breaktime: Time.new(2023, 5, i).beginning_of_day..Time.new(2023, 5, i).end_of_day) %>
                <% end_breaktime_at = @attendances.find_by(finish_breaktime: Time.new(2023, 5, i).beginning_of_day..Time.new(2023, 5, i).end_of_day) %>

              <tr>
                <td>5月<%= i %>日</td>
                <td><%= @start_working_hour&.strftime('%H:%M') %>～<%= @finish_working_hour&.strftime('%H:%M') %></td>

                <td>
                    <%= f.select :areason_status, Attendance.reason_statuses.map { |k, v| [I18n.t("enums.attendance.reason_status.#{k}"), v] }, {prompt: false}, class:"form-control form-control-sm col-6"  %>
                </td>

                <td><%= f.time_field :start_worktime %></td>
                <td><%= f.time_field :finish_worktime %></td>
                <td><%= f.time_field :start_breaktime %></td>
                <td><%= f.time_field :finish_breaktime %></td>
                <td><%= f.text_field :comment %></td>
              </tr>
              <% i += 1 %>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>

    </div>
  </div>
</main>