<main>
  <div class="container">
    <div class="row">

    <div class="col-lg-2">
      <%= render 'admins/adminside', admin: @admin %>
    </div>

    <div class="col-lg-10">
      <h2><%= @worker.last_name %><%= @worker.first_name %>　タイムカード</h2>

      <%= flash[:notice] %>

      <div class="month_select">
        <%= form_with(url: timecard_admins_attendances_path(@worker), method: :post) do |f| %>
        <div class="action">
          <%= f.select :year, @years, {include_blank: true}, class: 'form-control' %>年
          <%= f.select :month, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'], {include_blank: true}, class: 'form-control' %>月
          <%= f.submit '選択', class: "btn btn-sm btn-primary" %>
        </div>
        <% end %>
      </div>

      <div class="year_show">
      <%= @today.year %>年<%= @today.mon %>月

      <%= link_to "編集する", edit_admins_attendance_path(@worker.id), class:"btn btn-sm btn-success" %>
      </div>

      <div class="department_list">
        <table class="table mt-3">
            <thead>
              <tr>
                <th width="7%">日付</th>
                <th width="7%">曜日</th>
                <th>勤務区分</th>
                <th width="10%">事由</th>
                <th width="8%">出勤</th>
                <th width="8%">退勤</th>
                <th width="10%">休憩開始</th>
                <th width="10%">休憩終了</th>
                <th width="20%">コメント</th>
                <th width="10%"></th>
                <th width="10%"></th>
              </tr>
            </thead>

            <tboby>
              <% i = 1 %>
              <% @current_month.count.times do %>
                  <% calendar_date = @attendances.find_by(stamp_date: Time.new(@today.year, @today.mon, i).beginning_of_day..Time.new(@today.year, @today.mon, i).end_of_day) %>

              <% if @current_month[i-1][:weekday_jp] == "(土)"%>
                <tr class = "sat">
              <% elsif @current_month[i-1][:weekday_jp] == "(日)" %>
                <tr class = "sun">
              <%else%>
                <tr>
              <%end%>
                <!--日付-->
                  <td><%= i %>日</td>
                  
                <!--曜日-->
                  <td><%= @current_month[i-1][:weekday_jp] %></td>

                <!--勤務区分-->
                <% if @current_month[i-1][:weekday_jp] == "(土)"%>
                  <td>公休</td>
                <% elsif @current_month[i-1][:weekday_jp] == "(日)" %>
                  <td>日曜</td>
                <%else%>
                  <td>
                    <%= @start_working_hour.change(month: @today.mon, day: i).strftime('%H:%M') %>-<%= @finish_working_hour.change(month: @today.mon, day: i).strftime('%H:%M') %>
                  </td>
                <%end%>

                <!--事由-->
                  <td><%= calendar_date&.reason_status_i18n %></td>

                <!--出勤-->
                  <td><%= calendar_date&.start_worktime&.strftime('%H:%M') %></td>

                <!--退勤-->
                  <td><%= calendar_date&.finish_worktime&.strftime('%H:%M') %></td>

                <!--休憩開始-->
                  <td><%= calendar_date&.start_breaktime&.strftime('%H:%M') %></td>

                <!--休憩終了-->
                  <td><%= calendar_date&.finish_breaktime&.strftime('%H:%M') %></td>

                <!--コメント-->
                  <td><% calendar_date&.comment %></td>

                <!--編集ステータス-->
                  <td style="font-size:10px"><%= calendar_date&.edit_status_i18n %></td>

                <!--削除ボタン-->
                  <td><%= link_to '削除', admins_attendance_path(@worker.id, date: @today.beginning_of_month-1+i), method: :delete, data: { confirm: '打刻をリセットしますか?' }, class:"btn btn-sm btn btn-outline-danger"%></td>
                </tr>
                <% i += 1 %>
              <% end %>
            </tbody>
        </table>
      </div>

    </div>
    </div>
  </div>
</main>