<!DOCTYPE html>
<html>
  <head>
    <title>Hora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="header">
     <nav class="navbar navbar-expand-lg">
      <div class="container">
          <a class="navbar-brand" href="/">
            <span>Hora</span>
          </a>


      <div class="collapse navbar-collapse" id="navbarNavDropdown" style>
        <ul class="navbar-nav ml-auto">
    <% if admin_signed_in? %>
      <div class="text-light">
      管理者専用ページ
      </div>

      <%= link_to destroy_admin_session_path, method: :delete , class:"nav-link text-light" do %>
        ログアウト
      <% end %>

    <% elsif worker_signed_in? %>
      <div class="text-light">
        <!--従業員ヘッダー-->
        <%= current_worker.department.department_name %>　<%= current_worker.last_name %> <%= current_worker.first_name %>
      </div>

      <%= link_to workers_worker_path(current_worker.id), class:"nav-link text-light" do %>
        個人設定
      <% end %>

      <%= link_to destroy_worker_session_path, method: :delete , class:"nav-link text-light" do %>
        ログアウト
      <% end %>

    <% else %>
      <%= link_to '/', class:"nav-link text-light" do %>
        Home
      <% end %>

      <%#= link_to '/homes/about', class:"nav-link text-light" do %>
        <!--About-->
      <%# end %>

      <%= link_to new_worker_session_path, class:"nav-link text-light" do %>
        ログイン
      <% end %>

    <% end %>
      </nl>
    </div>
    </div>

    </header>
    <%= yield %>


    <footer class="footer">
      <p>Tsuchiya's portfolio</p>
    </footer>
  </body>
</html>
